body
{

}

body[orient="landscape"] > form.dialog,
body > form.dialog
{
	height: 100%;
}

h3 
{
	font-size: .75em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

h4 
{
	font-size: .5em;
	margin: 0;
	padding: 0;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li.more
{
	padding: 1em;
}

li.more-loading a.whiteButton span
{
	background: url('../images/loading-indicator-white-button.gif') no-repeat scroll 0 50%;	
	padding: 0 0 0 20px;
	color: #999999;
}

li.loading
{
	text-align: center;
}

li.loading .loading-indicator
{	
	display: inline-block;
}

.loading-indicator
{
	background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

fieldset.loading .row
{
	text-align: center !important;
	padding: 1em !important;
	min-height: 1em !important;
}

fieldset.loading .loading-indicator
{
	display: inline-block;
}

img
{
	border: none 0px black;
}

img.icon
{
	margin: 0 .5em 0 0;
}

div.row > label 
{
	margin: 0px;
	padding: 0;
	position: relative;
	float: left;
	line-height: 40px;
	width: 100px;
	text-align: right;
	color: #556382;
	font-size: 0.9em;
}

div.row-edit > label
{
	position: absolute;
}

div.panel > ul li, 
div.row
{
	text-align: left;
	clear: both;
	min-height: 40px;
}

div.panel > ul, 
div.panel > fieldset
{
	text-align: left;
	font-size: 14px;
}

div.row > span,
div.row > a
{
	display: block;
	margin: 0 0 0 0px;
	padding: 12px 12px 12px 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.row a[target=_related]
{
	background:url(../javascript/iui/default/listArrow.png) center right no-repeat; 	
	font-size: inherit;
}

.no-data
{
	text-align: center;
}

input:not(input[type|=radio]):not(input[type|=checkbox])
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input:focus
{ 
	outline: none;
	background-color: #FDFFDD;	
}

/* removes focus outline */
body > *
{
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

.dialog > fieldset
{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.dialog > fieldset > label
{
	margin: 17px 0 0 6px;
}

.dialog-busy .blueButton,
.toolbar-busy .blueButton
{
	-webkit-border-image: url(../javascript/iui/default/toolButton.png) 0 5 0 5;
    -moz-border-image: url(../javascript/iui/default/toolButton.png) 0 5 0 5;
}

.dialog-busy .blueButton span,
.toolbar-busy .blueButton span
{
	background: url('../images/loading-indicator-tool-button.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
	color: #CCCCCC;
}

.dialog-busy input,
.view-busy input
{
	background: #CCCCCC;
}

/* fix for chrome CSS3 issue - with latest chrome builds, input:not(input[...]) is not functioning */
input:not([type|=radio]):not([type|=checkbox])  
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
    border: 1px inset gray;
}

.row > input:not([type|=radio]):not([type|=checkbox]) 
{	
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    margin: 0;
    border: none 0px black;
    padding: 12px 10px 0 110px;
    height: 42px;
    border: none 0px transparent;
    background: transparent;
}

.row > input[type|=radio], .row > input[type|=checkbox] 
{
  margin: 7px 7px 0 0;
  height: 25px;
  width: 25px;
}

a 
{
    -webkit-touch-callout: none;
}

.button
{
	cursor: pointer;
}

body > :not(.dialog):not(.toolbar):not(.toolbar-float) 
{
	padding-bottom: 66px;
}

/* remove iUI styling from the toolbar */
body > div.toolbar-float,
body[orient] > div.toolbar-float
{
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	display: block;
	height: 50px;
	width: auto;
	min-width: 36px;
	position: absolute;	
	top: 0px;
	right: 0px;
	left: auto;
	min-height: 0;
	z-index: 1;	
	padding: 0 0 0 36px;
}

.toolbar-float 
{			
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
	background-image: url(../images/arrow-left.png), -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(44,44,44)),
		color-stop(0.5, rgb(21,21,21)),
		color-stop(0.5, rgb(49,49,49)),
		color-stop(1, rgb(79,79,79))
	);	
	background-image: url(../images/arrow-left.png), -moz-linear-gradient(
		center bottom,
		rgb(44,44,44) 0%,
		rgb(21,21,21) 50%,
		rgb(49,49,49) 50%,
		rgb(79,79,79) 100%
	);
	background-position: 6px center, top left;
	background-repeat: no-repeat, no-repeat;
}

.toolbar-float-fx
{
}

.toolbar-float-container
{	
	/* use with column-count (and width) for alternate layout method */
	-moz-column-gap: 0px;
	-webkit-column-gap: 0px;
	
	height: 50px;	
	
	display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
 
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
 
    display: box;
    box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
}

.toolbar-float-container a
{
    color: #fff;
    width: 48px;
    text-align: center;
}

.toolbar-float-container a span
{
	display: block;
	font-size: .6em;
}


