body[orient="landscape"] > form.dialog,
body > form.dialog
{
	height: 100%;
}

h3 
{
	font-size: .75em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

h4 
{
	font-size: .5em;
	margin: 0;
	padding: 0;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li.more
{
	padding: 1em;
}

li.more-loading a.whiteButton span
{
	background: url('../images/loading-indicator-white-button.gif') no-repeat scroll 0 50%;	
	padding: 0 0 0 20px;
	color: #999999;
}

li.loading
{
	text-align: center;
}

li.loading .loading-indicator
{	
	display: inline-block;
}

.loading-indicator
{
	background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

fieldset.loading .row
{
	text-align: center !important;
	padding: 1em !important;
	min-height: 1em !important;
}

fieldset.loading .loading-indicator
{
	display: inline-block;
}

img
{
	border: none 0px black;
}

img.icon
{
	margin: 0 .5em 0 0;
}

div.row > label 
{
	margin: 0px;
	padding: 0;
	position: relative;
	float: left;
	line-height: 40px;
	width: 100px;
	text-align: right;
	color: #556382;
	font-size: 0.9em;
}

div.row-edit > label
{
	position: absolute;
}

div.panel > ul li, 
div.row
{
	text-align: left;
	clear: both;
	min-height: 40px;
}

div.panel > ul, 
div.panel > fieldset
{
	text-align: left;
	font-size: 14px;
}

div.row > span,
div.row > a
{
	display: block;
	margin: 0 0 0 0px;
	padding: 12px 12px 12px 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.row a[target=_related]
{
	background:url(../javascript/iui/default/listArrow.png) center right no-repeat; 	
	font-size: inherit;
}

.no-data
{
	text-align: center;
}

input:not(input[type|=radio]):not(input[type|=checkbox])
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input:focus
{ 
	outline: none;
	background-color: #FDFFDD;	
}

/* removes focus outline */
body > *
{
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

.dialog > fieldset
{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.dialog > fieldset > label
{
	margin: 17px 0 0 6px;
}

.dialog-busy .blueButton,
.toolbar-busy .blueButton
{
	-webkit-border-image: url(../javascript/iui/default/toolButton.png) 0 5 0 5;
    -moz-border-image: url(../javascript/iui/default/toolButton.png) 0 5 0 5;
}

.dialog-busy .blueButton span,
.toolbar-busy .blueButton span
{
	background: url('../images/loading-indicator-tool-button.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
	color: #CCCCCC;
}

.dialog-busy input,
.view-busy input
{
	background: #CCCCCC;
}

/* fix for chrome CSS3 issue - with latest chrome builds, input:not(input[...]) is not functioning */
input:not([type|=radio]):not([type|=checkbox])  
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
    border: 1px inset gray;
}

.row > input:not([type|=radio]):not([type|=checkbox]) 
{	
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    margin: 0;
    border: none 0px black;
    padding: 12px 10px 0 110px;
    height: 42px;
    border: none 0px transparent;
    background: transparent;
}

.row > input[type|=radio], .row > input[type|=checkbox] 
{
  margin: 7px 7px 0 0;
  height: 25px;
  width: 25px;
}

.button
{
	cursor: pointer;
}

body.has-toolbar-bottom
{
	
}

body.has-toolbar-bottom > :not(.toolbar):not(.toolbar-bottom):not(.toolbar-bottom-fix)
{
	padding: 0 0 50px 0;
}

body > div.toolbar-bottom,
body[orient] > div.toolbar-bottom
{
	display: block;
	height: 49px;
	width: 100%;
	position: fixed;
	bottom: 0;
	top: auto;
	min-height: 0;
	z-index: 1;
	border-top: solid 1px black;
	-moz-box-shadow: 0 -1px 3px #000000;
	-webkit-box-shadow: 0 -1px 3px #000000;	
}

.toolbar-bottom .toolbar-bottom-wrap
{
	border-top: solid 1px #434343;
	height: 49px;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(44,44,44)),
		color-stop(0.5, rgb(21,21,21)),
		color-stop(0.5, rgb(49,49,49)),
		color-stop(1, rgb(79,79,79))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(44,44,44) 0%,
		rgb(21,21,21) 50%,
		rgb(49,49,49) 50%,
		rgb(79,79,79) 100%
	);
}


