body[orient="landscape"] > form.dialog,
body > form.dialog
{
	height: 100%;
}

h3 
{
	font-size: .75em;
	margin: 0;
	padding: 0;
}

h4 
{
	font-size: .5em;
	margin: 0;
	padding: 0;
	color: #999999;
}

li.more
{
	padding: 1em;
}

li.more-loading a.whiteButton span
{
	background: url('../images/loading-arrows.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
	color: #999999;
}

li.loading
{
	text-align: center;
}

li.loading .loading-indicator
{	
	display: inline-block;
}

.loading-indicator
{
	background: url('../images/loading-arrows.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

fieldset.loading .row
{
	text-align: center !important;
	padding: 1em !important;
	min-height: 1em !important;
}

fieldset.loading .loading-indicator
{
	display: inline-block;
}

img
{
	border: none 0px black;
}

img.icon
{
	margin: 0 .5em 0 0;
}

div.row > label 
{
	margin: 0px;
	padding: 0;
	position: relative;
	float: left;
	line-height: 40px;
	width: 100px;
	text-align: right;
	color: #556382;
	font-size: 0.9em;
}

div.panel > ul li, 
div.row
{
	text-align: left;
	clear: both;
	min-height: 40px;
}

div.panel > ul, 
div.panel > fieldset
{
	text-align: left;
	font-size: 14px;
}

div.row > span
{
	display: block;
	margin: 0 0 0 0px;
	padding: 12px 12px 12px 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-data
{
	text-align: center;
}

input:not(input[type|=radio]):not(input[type|=checkbox])
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input:focus
{ 
	outline: none;
	background-color: #FDFFDD;	
}

/* removes focus outline */
body > *
{
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

.dialog > fieldset
{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.dialog > fieldset > label
{
	margin: 17px 0 0 6px;
}

/* adjust input positions for search dialog */
#search_dialog input:not(input[type|=radio]):not(input[type|=checkbox])
{
	padding: 6px 6px 6px 50px;
}

